<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi9oac5GMLCVjy8p0ALFd3P7048wbqETg</string>
	<key>GCM_SENDER_ID</key>
	<string>69476621151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marcEspasa.GameBuddy</string>
	<key>PROJECT_ID</key>
	<string>gamebuddy-97776</string>
	<key>STORAGE_BUCKET</key>
	<string>gamebuddy-97776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69476621151:ios:71286b36c360aca32034ea</string>
</dict>
</plist>